<link rel="stylesheet" href="/files/footer.css">
<div class="footer">
    <hr><br><br>
    <div class="table">
        <div class="column">
            <h2>Resources</h2>
            <ul>
                <li>Find a Store</li>
                <li>Become a Member</li>
                <li>Send Us Feedback</li>
            </ul>
        </div>
        <div class="column">
            <h2>Help</h2>
            <ul>
                <li>Get Help</li>
                <li>Order Status</li>
                <li>Delivery</li>
                <li>Returns</li>
                <li>Payment Options</li>
                <li>Contact Us</li>
            </ul>
        </div>
        <div class="column">
            <h2>Company</h2>
            <ul>
                <li>About Company</li>
                <li>News</li>
                <li>Careers</li>
                <li>Investments</li>
                <li>Sustainability</li>
            </ul>
        </div>
        <p id="India"><i class="fa-solid fa-globe"></i>&nbsp;&nbsp;&nbsp;India</p>
    </div>
    <div class="f2">
        <ul>
            <li> &copy;&nbsp;2024 Nike, Inc All Rights Reserved</li>
            <li>Guides</li>
            <li>Term of Sale</li>
            <li>Term of Use</li>
            <li>Nike Privacy Policy</li>
        </ul>
    </div>
</div>