<%- include("./boiler.ejs") %>
<link rel="stylesheet" href="/files/header.css">
<div class="header">
    <form action="http://localhost:8080/" method="get">
        <button type="submit" style="background: none; border: none; padding: 0;">
            <img src="/assets/nike-logo.jpeg" alt="logo" id="header-logo">
        </button>
    </form>    
    <div class="categories">
        <a href="http://localhost:8080/" id="new-featured">New & Featured</a>
        <a href="http://localhost:8080/shoes" id="men">Men</a>
        <a href="http://localhost:8080/shoes" id="women">Women</a>
        <a href="http://localhost:8080/" id="sale">Sale</a>
        <a href="http://localhost:8080/" id="customise">Customise</a>
    </div>
    <div class="right-head">
        <div class="searchbar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" id="search-bar-input" placeholder="Search">
        </div>
        <form action="http://localhost:8080/favourites" method="get">
            <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer;">
                <i class="fa-regular fa-heart" id="heart-icon"></i>
            </button>
        </form>
        <form action="http://localhost:8080/bag" method="get">
            <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer;">
        <i class="fa-solid fa-briefcase" id="bag-icon"></i>
        </button></form>
        <i class="fa-solid fa-bars" id="bar-icon"></i>
    </div>
</div>

<div class="navigation-bar" id="navigation-bar">
    <nav>
        <a href="http://localhost:8080/" id="new-featured">New & Featured</a>
        <a href="http://localhost:8080/shoes" id="men">Men</a>
        <a href="http://localhost:8080/shoes" id="women">Women</a>
        <a href="http://localhost:8080/" id="sale">Sale</a>
        <a href="http://localhost:8080/" id="customise">Customise</a>
    </nav>
</div>
<div class="categories-box" id="new-category-box">
    <div class="new-box boxes">
        <div class="section1">
            <h4>New and Featured</h4>
            <a href="http://localhost:8080/">New Arrivals</a>
            <a href="http://localhost:8080/">Latest Shoes</a>
            <a href="http://localhost:8080/">Latest Clothing</a>
            <a href="http://localhost:8080/">Best Sellers</a>
            <a href="http://localhost:8080/">Top under 8000</a>
        </div>
        <div class="section2">
            <h4>Shop Icons</h4>
            <a href="http://localhost:8080/shoes/shoe/103">Air Force</a>
            <a href="http://localhost:8080/shoes/shoe/801">Air Jordan</a>
            <a href="http://localhost:8080/shoes/shoe/105">Air Max</a>
            <a href="http://localhost:8080/shoes/shoe/601">Pegasus</a>
            <a href="http://localhost:8080/shoes/shoe/106">Cortex</a>
        </div>
        <div class="section3">
            <h4>New for Men</h4>
            <a href="http://localhost:8080/shoes">Shoes</a>
            <a href="http://localhost:8080/">Clothing</a>
        </div>
        <div class="section4">
            <h4>New for Women</h4>
            <a href="http://localhost:8080/shoes">Shoes</a>
            <a href="http://localhost:8080/">Clothing</a>
        </div>
    </div>
</div>

<div class="categories-box" id="men-category-box">
    <div class="men-box boxes">
        <div class="section1">
            <h4>Featured</h4>
            <a href="http://localhost:8080/">New Releases</a>
            <a href="http://localhost:8080/">Bestsellers</a>
            <a href="http://localhost:8080/shoes/jordan">Jordan</a>
            <a href="http://localhost:8080/shoes/lifestyle">Lifestyle</a>
            <a href="http://localhost:8080/">Sale</a>
        </div>
        <div class="section2">
            <h4>All Shoes</h4>
            <a href="http://localhost:8080/">New Sneakers</a>
            <a href="http://localhost:8080/shoes/lifestyle">Lifestyle</a>
            <a href="http://localhost:8080/shoes/running">Running</a>
            <a href="http://localhost:8080/shoes/football">Football</a>
            <a href="http://localhost:8080/shoes/jordan">Jordan</a>
        </div>
        <div class="section3">
            <h4>Clothing</h4>
            <a href="http://localhost:8080/">All Clothing</a>
            <a href="http://localhost:8080/">Tops and T-Shirts</a>
            <a href="http://localhost:8080/">Shorts</a>
            <a href="http://localhost:8080/">Hoodies</a>
            <a href="http://localhost:8080/">Jerseys</a>
            <a href="http://localhost:8080/">Kits</a>
        </div>
        <div class="section4">
            <h4>Accessories</h4>
            <a href="http://localhost:8080/">All Accessories</a>
            <a href="http://localhost:8080/">Bags</a>
            <a href="http://localhost:8080/">Socks</a>
            <a href="http://localhost:8080/">Hats</a>
        </div>
    </div>
</div>

<div class="categories-box" id="women-category-box">
    <div class="women-box boxes">
        <div class="section1">
            <h4>Featured</h4>
            <a href="http://localhost:8080/">New Releases</a>
            <a href="http://localhost:8080/">Lifestyle</a>
            <a href="http://localhost:8080/">Jordan</a>
            <a href="http://localhost:8080/">Sale</a>
            <a href="http://localhost:8080/">Bestsellers</a>
        </div>
        <div class="section2">
            <h4>All Shoes</h4>
            <a href="http://localhost:8080/">New Sneakers</a>
            <a href="http://localhost:8080/">Running</a>
            <a href="http://localhost:8080/">Football</a>
            <a href="http://localhost:8080/">Jordan</a>
            <a href="http://localhost:8080/">Lifestyle</a>
        </div>
        <div class="section3">
            <h4>Clothing</h4>
            <a href="http://localhost:8080/">All Clothing</a>
            <a href="http://localhost:8080/">Tops and T-Shirts</a>
            <a href="http://localhost:8080/">Shorts</a>
            <a href="http://localhost:8080/">Jerseys</a>
            <a href="http://localhost:8080/">Hoodies</a>
            <a href="http://localhost:8080/">Kits</a>
        </div>
        <div class="section4">
            <h4>Accessories</h4>
            <a href="http://localhost:8080/">All Accessories</a>
            <a href="http://localhost:8080/">Bags</a>
            <a href="http://localhost:8080/">Socks</a>
            <a href="http://localhost:8080/">Hats</a>
        </div>
    </div>
</div>

<script src="/files/header.js"></script>
