<%- include("./boiler.ejs") %>
<link rel="stylesheet" href="/files/header.css">
<div class="header">
    <form action="https://nike-grxy.onrender.com/" method="get">
        <button type="submit" style="background: none; border: none; padding: 0;">
            <img src="/assets/nike-logo.jpeg" alt="logo" id="header-logo">
        </button>
    </form>    
    <div class="categories">
        <a href="https://nike-grxy.onrender.com/" id="new-featured">New & Featured</a>
        <a href="https://nike-grxy.onrender.com/shoes" id="men">Men</a>
        <a href="https://nike-grxy.onrender.com/shoes" id="women">Women</a>
        <a href="https://nike-grxy.onrender.com/" id="sale">Sale</a>
        <a href="https://nike-grxy.onrender.com/" id="customise">Customise</a>
    </div>
    <div class="right-head">
        <div class="searchbar">
            <form action="https://nike-grxy.onrender.com/search" method="post">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" id="search-bar-input" name="usersearch" placeholder="Search">
            </form>
        </div>
        <form action="https://nike-grxy.onrender.com/favourites" method="get">
            <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer;">
                <i class="fa-regular fa-heart" id="heart-icon"></i>
            </button>
        </form>
        <form action="https://nike-grxy.onrender.com/bag" method="get">
            <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer;">
        <i class="fa-solid fa-briefcase" id="bag-icon"></i>
        </button></form>
        <i class="fa-solid fa-bars" id="bar-icon"></i>
    </div>
</div>

<div class="navigation-bar" id="navigation-bar">
    <nav>
        <a href="https://nike-grxy.onrender.com/" id="new-featured">New & Featured</a>
        <a href="https://nike-grxy.onrender.com/shoes" id="men">Men</a>
        <a href="https://nike-grxy.onrender.com/shoes" id="women">Women</a>
        <a href="https://nike-grxy.onrender.com/" id="sale">Sale</a>
        <a href="https://nike-grxy.onrender.com/" id="customise">Customise</a>
    </nav>
</div>
<div class="categories-box" id="new-category-box">
    <div class="new-box boxes">
        <div class="section1">
            <h4>New and Featured</h4>
            <a href="https://nike-grxy.onrender.com/">New Arrivals</a>
            <a href="https://nike-grxy.onrender.com/">Latest Shoes</a>
            <a href="https://nike-grxy.onrender.com/">Latest Clothing</a>
            <a href="https://nike-grxy.onrender.com/">Best Sellers</a>
            <a href="https://nike-grxy.onrender.com/">Top under 8000</a>
        </div>
        <div class="section2">
            <h4>Shop Icons</h4>
            <a href="https://nike-grxy.onrender.com/shoes/shoe/103">Air Force</a>
            <a href="https://nike-grxy.onrender.com/shoes/shoe/801">Air Jordan</a>
            <a href="https://nike-grxy.onrender.com/shoes/shoe/105">Air Max</a>
            <a href="https://nike-grxy.onrender.com/shoes/shoe/601">Pegasus</a>
            <a href="https://nike-grxy.onrender.com/shoes/shoe/106">Cortex</a>
        </div>
        <div class="section3">
            <h4>New for Men</h4>
            <a href="https://nike-grxy.onrender.com/shoes">Shoes</a>
            <a href="https://nike-grxy.onrender.com/">Clothing</a>
        </div>
        <div class="section4">
            <h4>New for Women</h4>
            <a href="https://nike-grxy.onrender.com/shoes">Shoes</a>
            <a href="https://nike-grxy.onrender.com/">Clothing</a>
        </div>
    </div>
</div>

<div class="categories-box" id="men-category-box">
    <div class="men-box boxes">
        <div class="section1">
            <h4>Featured</h4>
            <a href="https://nike-grxy.onrender.com/">New Releases</a>
            <a href="https://nike-grxy.onrender.com/">Bestsellers</a>
            <a href="https://nike-grxy.onrender.com/shoes/jordan">Jordan</a>
            <a href="https://nike-grxy.onrender.com/shoes/lifestyle">Lifestyle</a>
            <a href="https://nike-grxy.onrender.com/">Sale</a>
        </div>
        <div class="section2">
            <h4>All Shoes</h4>
            <a href="https://nike-grxy.onrender.com/">New Sneakers</a>
            <a href="https://nike-grxy.onrender.com/shoes/lifestyle">Lifestyle</a>
            <a href="https://nike-grxy.onrender.com/shoes/running">Running</a>
            <a href="https://nike-grxy.onrender.com/shoes/football">Football</a>
            <a href="https://nike-grxy.onrender.com/shoes/jordan">Jordan</a>
        </div>
        <div class="section3">
            <h4>Clothing</h4>
            <a href="https://nike-grxy.onrender.com/">All Clothing</a>
            <a href="https://nike-grxy.onrender.com/">Tops and T-Shirts</a>
            <a href="https://nike-grxy.onrender.com/">Shorts</a>
            <a href="https://nike-grxy.onrender.com/">Hoodies</a>
            <a href="https://nike-grxy.onrender.com/">Jerseys</a>
            <a href="https://nike-grxy.onrender.com/">Kits</a>
        </div>
        <div class="section4">
            <h4>Accessories</h4>
            <a href="https://nike-grxy.onrender.com/">All Accessories</a>
            <a href="https://nike-grxy.onrender.com/">Bags</a>
            <a href="https://nike-grxy.onrender.com/">Socks</a>
            <a href="https://nike-grxy.onrender.com/">Hats</a>
        </div>
    </div>
</div>

<div class="categories-box" id="women-category-box">
    <div class="women-box boxes">
        <div class="section1">
            <h4>Featured</h4>
            <a href="https://nike-grxy.onrender.com/">New Releases</a>
            <a href="https://nike-grxy.onrender.com/">Lifestyle</a>
            <a href="https://nike-grxy.onrender.com/">Jordan</a>
            <a href="https://nike-grxy.onrender.com/">Sale</a>
            <a href="https://nike-grxy.onrender.com/">Bestsellers</a>
        </div>
        <div class="section2">
            <h4>All Shoes</h4>
            <a href="https://nike-grxy.onrender.com/">New Sneakers</a>
            <a href="https://nike-grxy.onrender.com/">Running</a>
            <a href="https://nike-grxy.onrender.com/">Football</a>
            <a href="https://nike-grxy.onrender.com/">Jordan</a>
            <a href="https://nike-grxy.onrender.com/">Lifestyle</a>
        </div>
        <div class="section3">
            <h4>Clothing</h4>
            <a href="https://nike-grxy.onrender.com/">All Clothing</a>
            <a href="https://nike-grxy.onrender.com/">Tops and T-Shirts</a>
            <a href="https://nike-grxy.onrender.com/">Shorts</a>
            <a href="https://nike-grxy.onrender.com/">Jerseys</a>
            <a href="https://nike-grxy.onrender.com/">Hoodies</a>
            <a href="https://nike-grxy.onrender.com/">Kits</a>
        </div>
        <div class="section4">
            <h4>Accessories</h4>
            <a href="https://nike-grxy.onrender.com/">All Accessories</a>
            <a href="https://nike-grxy.onrender.com/">Bags</a>
            <a href="https://nike-grxy.onrender.com/">Socks</a>
            <a href="https://nike-grxy.onrender.com/">Hats</a>
        </div>
    </div>
</div>

<script src="/files/header.js"></script>
