<link rel="stylesheet" href="/files/header.css">
<div class="header">
    <img src="/assets/nike-logo.jpeg" alt="logo" id="header-logo">
    <div class="categories">
        <a href="#" id="new-featured">New & Featured</a>
        <a href="#" id="men">Men</a>
        <a href="#" id="women">Women</a>
        <a href="#" id="sale">Sale</a>
        <a href="#" id="customise">Customise</a>
    </div>
    <div class="right-head">
        <div class="searchbar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" id="search-bar-input" placeholder="Search">
        </div>
        <i class="fa-regular fa-heart" id="heart-icon"></i>
        <i class="fa-solid fa-briefcase" id="bag-icon"></i>
        <i class="fa-solid fa-bars" id="bar-icon"></i>
    </div>
</div>

<div class="categories-box" id="new-category-box">
    <div class="new-box boxes">
        <div class="section1">
            <h4>New and Featured</h4>
            <a href="#">New Arrivals</a>
            <a href="#">Latest Shoes</a>
            <a href="#">Latest Clothing</a>
            <a href="#">Best Sellers</a>
            <a href="#">Top under 8000</a>
        </div>
        <div class="section2">
            <h4>Shop Icons</h4>
            <a href="#">Air Force</a>
            <a href="#">Air Jordan</a>
            <a href="#">Air Max</a>
            <a href="#">Pegasus</a>
            <a href="#">Cortex</a>
        </div>
        <div class="section3">
            <h4>New for Men</h4>
            <a href="#">Shoes</a>
            <a href="#">Clothing</a>
        </div>
        <div class="section4">
            <h4>New for Women</h4>
            <a href="#">Shoes</a>
            <a href="#">Clothing</a>
        </div>
    </div>
</div>

<div class="categories-box" id="men-category-box">
    <div class="men-box boxes">
        <div class="section1">
            <h4>Featured</h4>
            <a href="#">New Releases</a>
            <a href="#">Bestsellers</a>
            <a href="#">Jordan</a>
            <a href="#">Lifestyle</a>
            <a href="#">Sale</a>
        </div>
        <div class="section2">
            <h4>All Shoes</h4>
            <a href="#">New Sneakers</a>
            <a href="#">Lifestyle</a>
            <a href="#">Running</a>
            <a href="#">Football</a>
            <a href="#">Jordan</a>
        </div>
        <div class="section3">
            <h4>Clothing</h4>
            <a href="#">All Clothing</a>
            <a href="#">Tops and T-Shirts</a>
            <a href="#">Shorts</a>
            <a href="#">Hoodies</a>
            <a href="#">Jerseys</a>
            <a href="#">Kits</a>
        </div>
        <div class="section4">
            <h4>Accessories</h4>
            <a href="#">All Accessories</a>
            <a href="#">Bags</a>
            <a href="#">Socks</a>
            <a href="#">Hats</a>
        </div>
    </div>
</div>

<div class="categories-box" id="women-category-box">
    <div class="women-box boxes">
        <div class="section1">
            <h4>Featured</h4>
            <a href="#">New Releases</a>
            <a href="#">Lifestyle</a>
            <a href="#">Jordan</a>
            <a href="#">Sale</a>
            <a href="#">Bestsellers</a>
        </div>
        <div class="section2">
            <h4>All Shoes</h4>
            <a href="#">New Sneakers</a>
            <a href="#">Running</a>
            <a href="#">Football</a>
            <a href="#">Jordan</a>
            <a href="#">Lifestyle</a>
        </div>
        <div class="section3">
            <h4>Clothing</h4>
            <a href="#">All Clothing</a>
            <a href="#">Tops and T-Shirts</a>
            <a href="#">Shorts</a>
            <a href="#">Jerseys</a>
            <a href="#">Hoodies</a>
            <a href="#">Kits</a>
        </div>
        <div class="section4">
            <h4>Accessories</h4>
            <a href="#">All Accessories</a>
            <a href="#">Bags</a>
            <a href="#">Socks</a>
            <a href="#">Hats</a>
        </div>
    </div>
</div>

<script src="/files/header.js"></script>
