<link rel="stylesheet" href="./files/sidebar.css">
<div class="sidebar">
    <h2>Men's Shoes</h2>
    <nav class="side-nav">
      <a href="http://localhost:8080/shoes/lifestyle">Lifestyle</a>
      <a href="http://localhost:8080/shoes/jordan">Jordan</a>
      <a href="http://localhost:8080/shoes/running">Running</a>
      <a href="http://localhost:8080/shoes/football">Football</a>
      <a href="http://localhost:8080/shoes/air_jordan" id="air-jordan">Air Jordan</a>
    </nav>
  </div>