<link rel="stylesheet" href="./files/sidebar.css">
<div class="sidebar">
    <h2>Men's Shoes</h2>
    <nav class="side-nav">
      <a href="#">Lifestyle</a>
      <a href="#">Jordan</a>
      <a href="#">Running</a>
      <a href="#">Football</a>
      <a href="#">Air Jordan</a>
    </nav>
  </div>