.favs{
    margin-top: 7vmax;
}
.favs h1{
    text-align: center;
}
.fav-content{
    display: flex;
    flex-wrap: wrap;
    margin: 0vmax 10%;
}
.fav-shoe-box{
    height: 20vmax;
    width: 20vmax;
    margin: 3vmax 3vmax;
    position: relative;
}
#fav-img{
    height: 20vmax;
    width: 20vmax;
    border-radius: 5px;
}
.fav-shoe-box-desc{
    display: flex;
    justify-content: space-between;
    margin: -5px 5%;
}