@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
*{
    font-family: "Lato", sans-serif;
}

.side-main {
    display: flex;
    flex-direction: row;
    position: sticky;
    left: 0;
}



.content {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 100vw;
}
.content::-webkit-scrollbar{
    display: none;
}
.shoe-each{
    margin: 15px;
    cursor: pointer;
}
.shoe-each p{
    margin: -5px 0px;
    color: gray;
}
.shoe-each img{
    height: 23vmax;
    width: 23vmax;
    border-radius: 20px;
}
